.grid {
  display: grid;
  max-width: 500px;
  width: 100%;
  font-family: var(--font-mono);
}

.grid .space {
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
  /* max-width: 64px; */
}

.grid .space::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (1 / 1));
}

.grid .space.empty {
  background-color: transparent;
}

.player {
  background-color: rgba(0, 0, 0, 0.4);
  width: 70%;
  height: 70%;
  border-radius: 100%;
}
